* {
  padding: 0;
  margin: 0;
}
:root {
  --color-point: #cec0d4d0;
  --color-deep-point: #766c7ad0;
}
.menu-contatiner {
  width: 100vw;
  height: 20vh;
  // border: 1px solid blue;
  display: flex;
  justify-content: center;
  // background-color: var(--color-point);
  align-items: center;
  // background-color: #8BC6EC;
  // background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}
a {
  text-decoration: none;
  color: black;
  padding: 3em;
  width: 4%;
  height: 4%;
}
span {
  font-family: var(--font-UbuntuRegular);
  font-weight: lighter;
  color: black;
  font-size: 1.2em;
}
span:hover {
  color: #536dfe;
}
